.forma {
  color:black;
  width: 450px;
  height: 200px;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#taskTitle {
  font-size: 17px;
  height: 35px;
  padding: 5px 25px;
  color:black;
}

#taskDescription {
  font-size: 17px;
  height: 35px;
  padding: 5px 25px;
  color:black;
}

#submitButton {
  height: 70px;
  font-size: 35px;
  color:white;
  background-color: rgb(252, 68, 15);
  outline: none;
}